.Marquee {
    overflow: hidden;
    position: relative;
}

.Marquee-display {
    animation: wave 5s infinite linear;
}

@keyframes wave {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
