:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --clr-100: rgb( 247, 248, 230);
  --clr-200: rgb(101, 173, 178);
  --clr-300: rgb(248, 217, 76);
  --clr-400: rgb(32, 31, 29);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 4rem;
  --size-900: 5rem;
 
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  font-weight: var(--fw-semi-bold);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 100%;
  background-color: var(--clr-100);
  color: var(--clr-400);
  font-family: var(--ff-primary);
  text-align: center;
  display: flex;
  place-items: center;
  flex-direction: column;
}

h1 {
  font-size: var(--fs-900);
  line-height: 1.1;
}

h2{
  font-size: var(--fs-800);
}

@media  (max-width: 50em){
  h1{
    font-size: var(--fs-800);
  }
  h2{
    font-size: var(--fs-700);

  }
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* tixfix logo banner image  */

#tf-logo{
  width: 40em;
  border: none;
  border-radius: var(--size-600);
  gap: var(--size-300);
  margin: var(--size-800) auto;
  padding: var(--size-300);
}

@media (max-width: 50em){
  #tf-logo{
    width: min(20em, 45%);
    margin: var(--size-700) auto;
  }
}

/* paragraphs etc */

.copy-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 42ch;
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

.copy-wrapper p {
  font-size: var(--fs-500);
}

@media (max-width: 50em){
  .copy-wrapper{
    width: min(20em, 70%);
    font-size: var(--fs-400);
  }
}


/* footer */

footer{
max-width: 50ch;  
gap: clamp(var(--size-400), 5vw, var(--size-700));
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
